<footer class="bg-dark text-secondary py-3" style="height: 400px;">
        <div class="container" style="height: 300px;">
        <div class=" row">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <p>About us</p>
                <h6 class="text-light">Contact us</h6>
            </div>
            <div  class="col-lg-2 col-md-4 col-sm-6">
                <p >Group Companies</p>
                <h6 class="text-light">Myntra</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <p>Help</p>
                <h6 class="text-light">Payment</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <p>Consumer Policy</p>
                <h6 class="text-light">Cancellation</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <p>Mail us:</p>
                <h6 class="text-light">flipkart</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <p>Registered office address:</p>
                <h6 class="text-light">flipkart</h6>
            </div>
        </div>
    </div>
    <hr>
</footer>