.card-container {
    width: 1270px;
    display: flex;
    gap: 16px; /* Space between cards */
    overflow-x: auto;
    white-space: nowrap;
  }
  
  
  
 
  
  .card {
    flex: 0 0 auto; /* Prevent cards from shrinking */
    width: 200px;
    height: 300px;
    border-radius: 8px;
    padding: 5px;
  
  }

  .img:hover{
    width: 202px;
  }