<div class="row mt-4 m-4 p-3 ms-3 me-3">
    <div class="col-4">
    <div class="bg-light  border shadow">
        <div class="row">
            <h4 class="m-3" style="font-weight: bolder;">Summer fashion</h4>
            <div class="col-6">
                <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3zNmNSpi0p8B8afXLc3hZ-DCe_STgV817_A&s" class="zoom-img" alt="">
                    <div class="card-title" style="align-items: center;">
                        <h5 class="card-title" style="text-align: center;">Mens sports shoes</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtf326swCoJ9O-Ffmovng2-7IjW2fqVRs6CQ&s" class="zoom-img" alt="">
                <div class="card-title" style="align-items: center;">
                    <h5 class="card-title" style="text-align: center;">Mens slippers</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR9Z4J9KqrV-fRACJS-p1SUmxRTHRqrKf60w&s" width="180px" class="zoom-img" alt="">
                    <div class="card-title" style="align-items: center;">
                        <h5 class="card-title" style="text-align: center;">Backpacks</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC942DkRaqaKNrU6xrKkRPUQnZ9Wcjg2G1CQ&s" class="zoom-img" alt="">
                <div class="card-title" style="align-items: center;">
                    <h5 class="card-title" style="text-align: center;">Casual shoes</h5>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-4">
        <div class="bg-light  border shadow">
            <div class="row">
                <h4 class="m-3" style="font-weight: bolder;">Make your home stylish</h4>
                <div class="col-6">
                    <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMG2hrUxF5pXdUE93vdaAEEPPgLfsSbgPhfA&s" class="zoom-img" alt="">
                        <div class="card-title " style="align-items: center;">
                            <h5 class="card-title " style="text-align: center;">Bedsheets</h5>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDoO432cx8WhELQ8O7Qbl-l53NzRRzmlVtAA&s" class="zoom-img" alt="">
                    <div class="card-title" style="align-items: center;">
                        <h5 class="card-title mt-5" style="text-align: center;">Mosquito net</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_RerfCARQ9GFg3n12MVZHUK1djFUyCsHgIQ&s" class="zoom-img" alt="">
                        <div class="card-title" style="align-items: center;">
                            <h5 class="card-title mt-3" style="text-align: center;">Shoe rack</h5>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9GYzGJO4i2nbE5FPnlAD5x4DjB9s6qVRowA&s" class="zoom-img" alt="">
                    <div class="card-title " style="align-items: center;">
                        <h5 class="card-title" style="text-align: center;">Bath towels</h5>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-4">
            <div class="bg-light  border shadow">
                <div class="row">
                    <h4 class="m-3" style="font-weight: bolder;">Wedding and gifting specials</h4>
                    <div class="col-6">
                        <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTzcs3fq-C5bqz_K9c36ls1DbL_bkp8dtEVg&s" class="zoom-img" alt="">
                            <div class="card-title" style="align-items: center;">
                                <h5 class="card-title" style="text-align: center;">Lamp</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdBBysvIdVek7sagHPGVaLSlUceKtoSW5TKA&s"class="zoom-img" alt="">
                        <div class="card-title" style="align-items: center;">
                            <h5 class="card-title mt-3" style="text-align: center;">Wall clocks</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf77ekYX__Eyt4uEnA0nWPpPZwdzGUbBsqZg&s" class="zoom-img"alt="">
                            <div class="card-title" style="align-items: center;">
                                <h5 class="card-title" style="text-align: center;">Frames</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;cursor: pointer;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0TpxfWvGFYPAHkk3kmQ11q5O-PWBZoMkYqg&s" class="zoom-img" alt="">
                        <div class="card-title" style="align-items: center;">
                            <h5 class="card-title" style="text-align: center;">Key holders</h5>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    
