<div class="row mt-4 p-3 ms-3 me-3">
    <div class="col-4">
    <div class="bg-light  border shadow">
        <div class="row">
            <h4 style="font-weight: bolder;">Summer fashion</h4>
            <div class="col-6">
                <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3zNmNSpi0p8B8afXLc3hZ-DCe_STgV817_A&s" class="img-fluid" alt="">
                    <div class="card-title" style="align-items: center;">
                        <h5 class="card-title" style="text-align: center;">Mens sports shoes</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 167px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlRpsXPxnEWWdMuMlPGjUuT1IfbSF3eZXtmg&s" class="img-fluid" alt="">
                <div class="card-title" style="align-items: center;">
                    <h5 class="card-title" style="text-align: center;">Mens slippers</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR9Z4J9KqrV-fRACJS-p1SUmxRTHRqrKf60w&s" class="img-fluid" alt="">
                    <div class="card-title" style="align-items: center;">
                        <h5 class="card-title" style="text-align: center;">Backpacks</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC942DkRaqaKNrU6xrKkRPUQnZ9Wcjg2G1CQ&s" class="img-fluid" alt="">
                <div class="card-title" style="align-items: center;">
                    <h5 class="card-title" style="text-align: center;">Casual shoes</h5>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-4">
        <div class="bg-light  border shadow">
            <div class="row">
                <h4 style="font-weight: bolder;">Summer fashion</h4>
                <div class="col-6">
                    <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3zNmNSpi0p8B8afXLc3hZ-DCe_STgV817_A&s" class="img-fluid" alt="">
                        <div class="card-title" style="align-items: center;">
                            <h5 class="card-title" style="text-align: center;">Mens sports shoes</h5>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 167px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlRpsXPxnEWWdMuMlPGjUuT1IfbSF3eZXtmg&s" class="img-fluid" alt="">
                    <div class="card-title" style="align-items: center;">
                        <h5 class="card-title" style="text-align: center;">Mens slippers</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR9Z4J9KqrV-fRACJS-p1SUmxRTHRqrKf60w&s" class="img-fluid" alt="">
                        <div class="card-title" style="align-items: center;">
                            <h5 class="card-title" style="text-align: center;">Backpacks</h5>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC942DkRaqaKNrU6xrKkRPUQnZ9Wcjg2G1CQ&s" class="img-fluid" alt="">
                    <div class="card-title" style="align-items: center;">
                        <h5 class="card-title" style="text-align: center;">Casual shoes</h5>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-4">
            <div class="bg-light  border shadow">
                <div class="row">
                    <h4 style="font-weight: bolder;">Summer fashion</h4>
                    <div class="col-6">
                        <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3zNmNSpi0p8B8afXLc3hZ-DCe_STgV817_A&s" class="img-fluid" alt="">
                            <div class="card-title" style="align-items: center;">
                                <h5 class="card-title" style="text-align: center;">Mens sports shoes</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 167px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlRpsXPxnEWWdMuMlPGjUuT1IfbSF3eZXtmg&s" class="img-fluid" alt="">
                        <div class="card-title" style="align-items: center;">
                            <h5 class="card-title" style="text-align: center;">Mens slippers</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR9Z4J9KqrV-fRACJS-p1SUmxRTHRqrKf60w&s" class="img-fluid" alt="">
                            <div class="card-title" style="align-items: center;">
                                <h5 class="card-title" style="text-align: center;">Backpacks</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-4 col-sm-5 m-2" style="width: 200px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC942DkRaqaKNrU6xrKkRPUQnZ9Wcjg2G1CQ&s" class="img-fluid" alt="">
                        <div class="card-title" style="align-items: center;">
                            <h5 class="card-title" style="text-align: center;">Casual shoes</h5>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    
